# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# SQLite / DB
*.db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Output folders
output/
# data/ оставляем под версионирование, если нужны шаблоны или исходные CSV

# IDE / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
